<body>
  <nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand ps-3" href="/">
        <!-- <img width="40" height="40" src="https://img.icons8.com/external-bzzricon-flat-bzzricon-studio/64/external-quran-ramadan-bzzricon-flat-bzzricon-flat-bzzricon-studio.png" alt="external-quran-ramadan-bzzricon-flat-bzzricon-flat-bzzricon-studio"/>            -->
        <span>Taj</span><span>Lib</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto pe-5">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/camera">Scanner</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </nav>
</body>
